extends layout

block mainContent
  h1 Edgar's timeline
  div.metro-pivot
    div.pivot-item
      h3 Moments 
      p All the wonderful little things Edgar does
      a.create-timeline-item(href='/create') New moment
      each item in data
          div.page-content-block
            div.timeline-item
              div= item.id
              div.date-time= item.datetime
              header.title= item.header
              div.subtitle= item.subtitle
              div.content= item.content
              button.edit-timeline-item Edit
    div.pivot-item
      h3 Milestones
      p First smile, first laugh, first step
  script.
    $(function () {
    });